<h1>プロフィール編集</h1>

<%= form_with model: @user, url: user_path, method: :patch, local: true do |f| %>
  <% if @user.errors.any? %>
    <div style="color: red;">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "氏名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </div>

  <div style="margin-top: 20px;">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to "マイページに戻る", user_path %>