<h1>新規登録</h1>

<%= form_with model: @user, url: '/users', local: true do |f| %>

    <% if  @user.errors.any? %>                                    <%#「もし保存に失敗して、エラー内容が1つでもあれば」#%>
      <div style="color: red;">
        <h3><%= @user.errors.count %>件のエラーがあります:</h3>
        <ul> 
          <% @user.errors.full_messages.each do |message| %>       <%# 発生したエラーを一つずつ取り出して表示 #%>
            <li><%= message %></li>
          <% end %>
        </ul>
      <div>
    <% end %>

    <div>
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>        <%# 文字を打つための白い箱 #%>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "パスワード（確認用）" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div style="margin-top: 20px;">
    <%= f.submit "登録する" %>
  </div>

<% end %>
